<% if (theme.shion.hero_enable) { %>
<section class="shion-hero">
  <img src="<%= url_for(theme.shion.hero_image) %>" alt="">
  <div class="hero-content">
    <h1 class="hero-title"><%= config.title %></h1>
    <% if (config.description) { %>
    <p class="hero-subtitle"><%= config.description %></p>
    <% } %>
  </div>
</section>
<% } %>

<section class="post-list">
  <% page.posts.forEach(function(post, i) { %>
    <%- partial('_partial/post-card', { post: post, index: i }) %>
  <% }) %>
</section>

<%- partial('_partial/pagination') %>
