<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
  <%- partial('_partial/head') %>
</head>
<body>
  <%- partial('_partial/header') %>

  <div class="container">
    <div class="content-wrapper">
      <main class="site-main">
        <%- body %>
      </main>

      <% if (theme.sidebar.enable) { %>
      <%- partial('_partial/sidebar') %>
      <% } %>
    </div>
  </div>

  <%- partial('_partial/footer') %>
  <%- partial('_partial/search') %>

  <script src="<%= url_for('/js/main.js') %>"></script>
</body>
</html>
