<div class="tag-page content-card">
  <h1 class="tag-title">#<%= page.tag %></h1>
  <span class="tag-count"><%= page.posts.length %> <%= __('posts') %></span>

  <section class="post-list">
    <% page.posts.forEach(function(post, i) { %>
      <%- partial('_partial/post-card', { post: post, index: i }) %>
    <% }) %>
  </section>
</div>

<%- partial('_partial/pagination') %>
