<div class="widget">
  <h4 class="widget-title"><%= __('tag_list') %></h4>
  <%
    var tags = site.tags.sort('length').reverse();
    var visible = 10;
  %>
  <div class="widget-tagcloud">
    <% tags.slice(0, visible).forEach(function(tag) { %>
      <a class="tag-link" href="<%= url_for(tag.path) %>"><%= tag.name %></a>
    <% }) %>
  </div>
  <% var remaining = tags.length - visible; %>
  <% if (remaining > 0) { %>
  <a class="widget-more" href="<%= url_for(config.tag_dir) %>">+ <%= remaining %> more</a>
  <% } %>
</div>
