<% if (theme.comments.enable) { %>
<section class="comments" id="comments">
  <div class="comments-header">
    <h3 class="comments-title"><%= __('comment') || 'Comments' %></h3>
  </div>

  <%
  var type = theme.comments.type || 'giscus';
  var systems = {
    giscus: '_partial/comments/giscus',
    disqus: '_partial/comments/disqus',
    waline: '_partial/comments/waline',
    twikoo: '_partial/comments/twikoo',
    valine: '_partial/comments/valine',
    gitalk: '_partial/comments/gitalk',
    utterances: '_partial/comments/utterances',
  };
  %>

  <% if (type === 'giscus') { %>
    <script src="https://giscus.app/client.js"
      data-repo="<%= theme.comments.giscus.repo %>"
      data-repo-id="<%= theme.comments.giscus.repo_id %>"
      data-category="<%= theme.comments.giscus.category %>"
      data-category-id="<%= theme.comments.giscus.category_id %>"
      data-mapping="<%= theme.comments.giscus.mapping %>"
      data-strict="<%= theme.comments.giscus.strict %>"
      data-reactions-enabled="<%= theme.comments.giscus.reactions_enabled %>"
      data-emit-metadata="<%= theme.comments.giscus.emit_metadata %>"
      data-input-position="<%= theme.comments.giscus.input_position %>"
      data-theme="<%= theme.appearance.default_mode === 'dark' ? 'dark' : 'light' %>"
      data-lang="<%= theme.comments.giscus.lang %>"
      crossorigin="anonymous"
      async>
    </script>
  <% } else if (type === 'disqus') { %>
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = '<%= config.url + '/' + page.path %>';
        this.page.identifier = '<%= page.path %>';
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://<%= theme.comments.disqus.shortname %>.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  <% } else if (systems[type]) { %>
    <%- partial(systems[type]) %>
  <% } %>
</section>
<% } %>
