<% if (page.total > 1) { %>
<nav class="pagination">
  <% if (page.prev) { %>
    <a class="page-item prev" href="<%= url_for(page.prev_link) %>"><%= __('prev') %></a>
  <% } %>

  <div class="page-numbers">
    <% var current = page.current; %>
    <% var total = page.total; %>
    <% var start = Math.max(1, current - 2); %>
    <% var end = Math.min(total, current + 2); %>

    <% if (start > 1) { %>
      <a class="page-item page-num" href="<%= url_for(page.link) %>">1</a>
      <% if (start > 2) { %>
        <span class="page-ellipsis">&hellip;</span>
      <% } %>
    <% } %>

    <% for (var i = start; i <= end; i++) { %>
      <% if (i === current) { %>
        <span class="page-item page-num current"><%= i %></span>
      <% } else { %>
        <a class="page-item page-num" href="<%= url_for(page.path.replace(/page\/\d+/, '')) + (i === 1 ? '' : 'page/' + i + '/') %>"><%= i %></a>
      <% } %>
    <% } %>

    <% if (end < total) { %>
      <% if (end < total - 1) { %>
        <span class="page-ellipsis">&hellip;</span>
      <% } %>
      <a class="page-item page-num" href="<%= url_for(page.path.replace(/page\/\d+/, 'page/' + total + '/')) %>"><%= total %></a>
    <% } %>
  </div>

  <% if (page.next) { %>
    <a class="page-item next" href="<%= url_for(page.next_link) %>"><%= __('next') %></a>
  <% } %>
</nav>
<% } %>
